<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <title>"水果自由"大数据平台</title>#}
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <script src="../static/js/jquery.js"></script>
    <link href="../static/css/index.css" rel="stylesheet"/>
    <script src="../static/js/controller.js"></script>
    <script src="../static/js/echarts.js"></script>
    <script src="../static/js/echarts-gl.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>
{#    <script src="../static/js/wordcloud.js"></script>#}
    <script src="../static/js/echarts-wordcloud.min.js"></script>
    <link rel="stylesheet" href="../static/css/jeuicss/jeui.css" media="all">
    <link rel="stylesheet" href="../static/css/jeuicss/admin.css" media="all">
    <link rel="stylesheet" href="../static/css/jeuicss/gload.css" media="all"/>
    <link rel="stylesheet" href="../static/css/jeuicss/iconfont.css" media="all"/>
    <link rel="stylesheet" href="../static/css/jeuicss/skin/jebox.css" media="all"/>
    <link rel="stylesheet" href="../static/css/jeuicss/skin/jedate.css" media="all"/>
    <script type="text/javascript" src="../static/js/jeuijs/modules/jeui.js"></script>
</head>
<body scroll="no" style="overflow-x:hidden;">
    <div id="title">“水果自由”大数据分析平台</div>
    <div id="tim">我是时间</div>
    <div id="nav">
        {% block nav %}{% endblock %}
    </div>
    {% block index_echarts %}{% endblock %}

        {% block function_echarts %}{% endblock %}
    </div>
</body>
</html>