<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>map_yimutian</title>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>
    <script type=text/javascript src="../static/js/jquery.js"></script>

</head>

<body>
    <div>
        <select id='cate'>
        </select>
    </div>
    <div id="chart_" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var type_all = ['木瓜', '哈密瓜', '芒果', '菠萝', '葡萄', '梨', '柠檬', '甘蔗', '香蕉', '石榴', '毛桃', '柚子', '水蜜桃', '杨梅', '山楂', '苹果', '荔枝', '龙眼', '樱桃', '柿子'
        ];

        function addOption() {
            var obj = document.getElementById('cate');
            obj.options.add(new Option("水果种类", "西瓜"))
            for (var i = 0; i < type_all.length; i++) {
                obj.options.add(new Option(type_all[i], type_all[i]))
            }
        }
        addOption();
        var name = "西瓜";
        var data = [{
            'name': '甘肃',
            'value': 0.75
        }, {
            'name': '广西',
            'value': 0.75
        }, {
            'name': '内蒙古',
            'value': 0.48
        }, {
            'name': '浙江',
            'value': 1.47
        }, {
            'name': '黑龙江',
            'value': 0.9
        }, {
            'name': '山西',
            'value': 1.12
        }, {
            'name': '江西',
            'value': 0.98
        }, {
            'name': '北京',
            'value': 1.42
        }, {
            'name': '重庆',
            'value': 1.41
        }, {
            'name': '河南',
            'value': 0.82
        }, {
            'name': '安徽',
            'value': 0.92
        }, {
            'name': '四川',
            'value': 1.12
        }, {
            'name': '江苏',
            'value': 1.15
        }, {
            'name': '吉林',
            'value': 0.7
        }, {
            'name': '天津',
            'value': 1.61
        }, {
            'name': '海南',
            'value': 0.97
        }, {
            'name': '湖南',
            'value': 1.16
        }, {
            'name': '宁夏',
            'value': 0.71
        }, {
            'name': '贵州',
            'value': 1.22
        }, {
            'name': '上海',
            'value': 1.46
        }, {
            'name': '新疆',
            'value': 0.53
        }, {
            'name': '云南',
            'value': 1.19
        }, {
            'name': '湖北',
            'value': 0.79
        }, {
            'name': '陕西',
            'value': 0.92
        }, {
            'name': '河北',
            'value': 0.82
        }, {
            'name': '山东',
            'value': 0.89
        }, {
            'name': '辽宁',
            'value': 0.72
        }, {
            'name': '广东',
            'value': 1.02
        }, {
            'name': '福建',
            'value': 0.9
        }];
        var min_ = 0.48,
            max_ = 1.61


        var myChart = echarts.init(
            document.getElementById('chart_'), 'white', {
                renderer: 'canvas'
            });
        var option = {
            "animation": true,
            "animationThreshold": 2000,
            "animationDuration": 1000,
            "animationEasing": "cubicOut",
            "animationDelay": 0,
            "animationDurationUpdate": 300,
            "animationEasingUpdate": "cubicOut",
            "animationDelayUpdate": 0,
            "color": [
                "#c23531",
                "#2f4554",
                "#61a0a8",
                "#d48265",
                "#749f83",
                "#ca8622",
                "#bda29a",
                "#6e7074",
                "#546570",
                "#c4ccd3",
                "#f05b72",
                "#ef5b9c",
                "#f47920",
                "#905a3d",
                "#fab27b",
                "#2a5caa",
                "#444693",
                "#726930",
                "#b2d235",
                "#6d8346",
                "#ac6767",
                "#1d953f",
                "#6950a1",
                "#918597"
            ],
            "series": [{
                "type": "map",
                "name": name,
                "label": {
                    "show": true,
                    "position": "center",
                    "margin": 2
                },
                "mapType": "china",
                "data": data,
                "roam": true,
                "zoom": 1,
                "showLegendSymbol": true,
                "emphasis": {}
            }],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            },
            "title": [{
                "text": "全国各省" + name + "价格",
                "padding": 5,
                "itemGap": 10
            }],
            "visualMap": {
                "show": true,
                "type": "continuous",
                "min": min_,
                "max": max_,
                "inRange": {
                    "color": [
                        "#50a3ba",
                        "#eac763",
                        "#d94e5d"
                    ]
                },
                "calculable": true,
                "inverse": false,
                "splitNumber": 5,
                "orient": "vertical",
                "showLabel": true,
                "itemWidth": 20,
                "itemHeight": 140,
                "borderWidth": 0
            }
        };
        myChart.setOption(option);
        $(document).ready(function () {
            $("#cate").change(function () {
                var selected = $(this).children('option:selected').val()
                console.log(selected);
                console.log(JSON.stringify({
                    name: selected
                }));
                $.post("/map/", JSON.stringify({
                        'name': selected
                    }),
                    function (data_, status) {
                        data_ = eval(data_)
                        console.log( data_)
                        name = data_['name']
                        console.log(name)
                        data = data_['data']
                        console.log(data)
                        min_ = data_['min']
                        max_ = data_['max']

                        var option = {
                            "animation": true,
                            "animationThreshold": 2000,
                            "animationDuration": 1000,
                            "animationEasing": "cubicOut",
                            "animationDelay": 0,
                            "animationDurationUpdate": 300,
                            "animationEasingUpdate": "cubicOut",
                            "animationDelayUpdate": 0,
                            "color": [
                                "#c23531",
                                "#2f4554",
                                "#61a0a8",
                                "#d48265",
                                "#749f83",
                                "#ca8622",
                                "#bda29a",
                                "#6e7074",
                                "#546570",
                                "#c4ccd3",
                                "#f05b72",
                                "#ef5b9c",
                                "#f47920",
                                "#905a3d",
                                "#fab27b",
                                "#2a5caa",
                                "#444693",
                                "#726930",
                                "#b2d235",
                                "#6d8346",
                                "#ac6767",
                                "#1d953f",
                                "#6950a1",
                                "#918597"
                            ],
                            "series": [{
                                "type": "map",
                                "name": name,
                                "label": {
                                    "show": true,
                                    "position": "center",
                                    "margin": 2
                                },
                                "mapType": "china",
                                "data": data,
                                "roam": true,
                                "zoom": 1,
                                "showLegendSymbol": true,
                                "emphasis": {}
                            }],
                            "tooltip": {
                                "show": true,
                                "trigger": "item",
                                "triggerOn": "mousemove|click",
                                "axisPointer": {
                                    "type": "line"
                                },
                                "showContent": true,
                                "alwaysShowContent": false,
                                "showDelay": 0,
                                "hideDelay": 100,
                                "textStyle": {
                                    "fontSize": 14
                                },
                                "borderWidth": 0,
                                "padding": 5
                            },
                            "title": [{
                                "text": "全国各省" + name + "价格",
                                "padding": 5,
                                "itemGap": 10
                            }],
                            "visualMap": {
                                "show": true,
                                "type": "continuous",
                                "min": min_,
                                "max": max_,
                                "inRange": {
                                    "color": [
                                        "#50a3ba",
                                        "#eac763",
                                        "#d94e5d"
                                    ]
                                },
                                "calculable": true,
                                "inverse": false,
                                "splitNumber": 5,
                                "orient": "vertical",
                                "showLabel": true,
                                "itemWidth": 20,
                                "itemHeight": 140,
                                "borderWidth": 0
                            }
                        };
                        myChart.setOption(option, true)
                    });
            });
        });
    </script>
</body>

</html>