{% extends 'base.html' %}

{% block title %}
    首页
{% endblock %}

{% block navigation_bar %}
    <nav>
        <ul>
            <li class="current"><a href="{{ url_for('index') }}">首页</a></li>
            <li><a href="{{ url_for('map_distribution') }}">产地</a></li>
            <li><a href="{{ url_for('fruit_2019_price') }}">价格</a></li>
            <li><a href="{{ url_for('recommend') }}">推荐</a></li>
        </ul>
    </nav>
{% endblock %}


{% block echarts %}
    <div id="l1">
        <script src="../static/js/index/energy.js"></script>
    </div>
    <div id="c1">
        <script src="../static/js/index/product.js"></script>
    </div>
    <div id="c2">
        <script src="../static/js/index/Vc.js"></script>
    </div>
    <div id="r1">
        <script src="../static/js/index/orchard.js"></script>
    </div>
    <div id="r2">
        <script src="../static/js/index/Vb.js"></script>
    </div>
{#    <div id="r3">#}
{#        <script src="../static/js/wordcloud.js"></script>#}
{#    </div>#}
{% endblock %}
