<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"水果自由"大数据平台</title>
    <script src="../static/js/jquery.js"></script>
    <link href="../static/css/index.css" rel="stylesheet"/>
    <script src="../static/js/controller.js"></script>
    <script src="../static/js/echarts.js"></script>
    <script src="../static/js/echarts-gl.js"></script>
{#    <script src="../static/js/wordcloud.js"></script>#}
    <script src="../static/js/echarts-wordcloud.min.js"></script>
    <link rel="stylesheet" href="../static/css/jeuicss/jeui.css" media="all">
    <link rel="stylesheet" href="../static/css/jeuicss/admin.css" media="all">
    <link rel="stylesheet" href="../static/css/jeuicss/gload.css" media="all"/>
    <link rel="stylesheet" href="../static/css/jeuicss/iconfont.css" media="all"/>
    <link rel="stylesheet" href="../static/css/jeuicss/skin/jebox.css" media="all"/>
    <link rel="stylesheet" href="../static/css/jeuicss/skin/jedate.css" media="all"/>
    <script type="text/javascript" src="../static/js/jeuijs/modules/jeui.js"></script>
</head>
<body scroll="no" style="overflow-x:hidden;">
<div id="title">“水果自由”大数据分析平台</div>
<div id="tim">我是时间</div>
<div id="nav">
    <ul class="je-navs-stacked  je-rdu3 je-f12 je-fl je-mr30 txt">
        <li class="item on"><a href="">首页</a></li>
        <li class="item"><a href="">产地</a></li>
        <li class="item"><a href="">价格</a></li>
        <li class="item"><a href="">推荐</a></li>
    </ul>
</div>
<div id="lev1">
    <div class="titletext">中国水果产量区域分布情况</div>
    <hr style="height:1px;border:none;border-top:2px solid #ffffff;"/>
    <div id="echarts1" style="width: 550px;height:550px;">
        <script src="../static/js/product.js"></script>
    </div>
</div>
<div id="lev2">
    <div class="titletext">中国果园面积分布情况</div>
    <hr style="height:1px;border:none;border-top:2px solid #ffffff;"/>
    <div id="echarts2" style="width: 650px;height:550px;">
        <script src="../static/js/orchard.js"></script>
    </div>
</div>
<div id="lev3">
    <div class="titletext">常见水果所含能量</div>
    <hr style="height:1px;border:none;border-top:2px solid #ffffff;"/>
    <div id="echarts3" style="width: 650px;height:550px;">
        <script src="../static/js/energy.js"></script>
    </div>
</div>
<div id="lev4">
    <div class="titletext">常见水果日均搜索指数</div>
    <hr style="height:1px;border:none;border-top:2px solid #ffffff;"/>
    <div id="echarts4" style="width: 550px;height:550px;">
        <script src="../static/js/wordcloud.js"></script>
    </div>
</div>
<div id="lev5">
    <div class="titletext">常见水果B族维生素含量(mg/100g)</div>
    <hr style="height:1px;border:none;border-top:2px solid #ffffff;"/>
    <div id="echarts5" style="width: 650px;height:550px;">
        <script src="../static/js/Vc.js"></script>
    </div>
</div>
<div id="lev6">
    <div class="titletext">常见水果维生素C含量</div>
    <hr style="height:1px;border:none;border-top:2px solid #ffffff;"/>
    <div id="echarts6" style="width: 650px;height:550px;">
        <script src="../static/js/Vb.js"></script>
    </div>
</div>
</body>
</html>