<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>水果推荐</title>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/controller.js"></script>
    <script src="../static/js/echarts.js"></script>
    <script src="../static/js/echarts-gl.js"></script>
    <link rel="stylesheet" href="../static/css/jeuicss/jeui.css" media="all">
    <link rel="stylesheet" href="../static/css/jeuicss/admin.css" media="all">
    <link rel="stylesheet" href="../static/css/jeuicss/gload.css" media="all"/>
    <link rel="stylesheet" href="../static/css/jeuicss/iconfont.css" media="all"/>
    <link rel="stylesheet" href="../static/css/jeuicss/skin/jebox.css" media="all"/>
    <link rel="stylesheet" href="../static/css/jeuicss/skin/jedate.css" media="all"/>
    <script type="text/javascript" src="../static/js/jeuijs/modules/jeui.js"></script>
</head>
<body>
<blockquote class=" je-f16 je-ovh  je-mb10">
    <p class="je-pb5 checkbox">
        <select class="myselect">
            <option value="水果种类">水果种类</option>
            <option value="榴莲">榴莲</option>
            <option value="车厘子">车厘子</option>
            <option value="哈密瓜">哈密瓜</option>
        </select>
        <button class="je-btn je-f14">查询</button>
    </p>
</blockquote>

 <table class="je-table je-mb20" id="newCheck">
        <thead>
        <tr>
            <th>图片</th>
            <th>水果类型</th>
            <th>店铺/旺旺名</th>
            <th>销量</th>
            <th>评分</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td align="center"><img src="images/userphoto.jpg" class="userphoto"/></td>
                <td>苹果</td>
                <td>abcd</td>
                <td>15人付款</td>
                <td>6.001</td>
            </tr>
            <tr>
                <td align="center"><img src="images/userphoto.jpg" class="userphoto"/></td>
                <td>苹果</td>
                <td>abcd</td>
                <td>15人付款</td>
                <td>6.001</td>
            </tr>
            <tr>
                <td align="center"><img src="images/userphoto.jpg" class="userphoto"/></td>
                <td>苹果</td>
                <td>abcd</td>
                <td>15人付款</td>
                <td>6.001</td>
            </tr>
            <tr>
                <td align="center"><img src="images/userphoto.jpg" class="userphoto"/></td>
                <td>苹果</td>
                <td>abcd</td>
                <td>15人付款</td>
                <td>6.001</td>
            </tr>

        </tbody>
    </table>




<script type="text/javascript">
    jeui.use(["jquery", "jeBox", "jeDate", "jeCheck", "jeSelect"], function () {

        $(".myselect").jeSelect({sosList: false});
        var start = {
            format: 'YYYY-MM-DD hh:mm:ss',
            minDate: '2014-06-16 23:59:59', //设定最小日期为当前日期
            isinitVal: true,
            //festival:true,
            ishmsVal: false,
            maxDate: $.nowDate({DD: 0}), //最大日期
            choosefun: function (elem, val, date) {
                end.minDate = date; //开始日选好后，重置结束日的最小日期
                endDates();
            }
        };

    });
</script>
</body>
</html>