body {
    margin: 0;
    background-image: url(congruent_pentagon.png);
    /*background-color: #3d9970;*/
    /*background-repeat: no-repeat;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*background-size: cover;*/
    background-attachment: fixed;
    z-index: -1;
}

#title {
    position:fixed;
    width: 100%;
    height: 10%;
    top: 0;
    left: 0;
    background: #2E8B57;
    color: white;
    font-size: 35px;
    /*居中分布*/
    display: flex;
    align-items: center;
    /*竖直方向居中*/
    justify-content: center;
    z-index: 100;
}

#tim {
    position:fixed;
    /*width: 30%;*/
    height: 10%;
    top: 5%;
    right: 2%;
    color: #ffffff;
    /*background: #456;*/
    z-index: 100;
}

#nav {
    position:fixed;
    width: 10%;
    height: 500%;
    top: 10%;
    left: 0;
    overflow: hidden;
    background: #3d9970;
    opacity: 0.7;

}

#search1 {
    position: absolute;
    width: 24%;
    height: 15%;
    top: 12%;
    left: 12%;
    overflow: hidden;
    background-color: rgba(104, 131, 139, 0.2);
    border-radius: 10px;
}
#search2{
    position:absolute;
    width: 24%;
    height: 15%;
    top: 29%;
    left: 12%;
    overflow: hidden;
    background-color: rgba(104, 131, 139, 0.2);
    border-radius: 10px;
}
#search3{
    position:absolute;
    width: 24%;
    height: 15%;
    top: 46%;
    left: 12%;
    overflow: hidden;
    background-color: rgba(104, 131, 139, 0.2);
    border-radius: 10px;
}
#search4{
    position:absolute;
    width: 24%;
    height: 69%;
    top: 29%;
    left: 12%;
    overflow: hidden;
    background-color: rgba(104, 131, 139, 0.2);
    border-radius: 10px;
}
#search5{
    position: absolute; /*相对于整个页面的绝对定位*/
    width: 40%;
    height: 85%;
    top: 12%;
    left: 12%;
    background-color: rgba(104, 131, 139, 0.2);
    border-radius: 10px;
    bottom: 2%;
}
#search6{
    position: absolute; /*相对于整个页面的绝对定位*/
    width: 43%;
    height: 85%;
    top: 12%;
    right: 2%;
    background-color: rgba(104, 131, 139, 0.2);
    border-radius: 10px;
    bottom: 2%;
}
#show{
    position:absolute;
    width: 60%;
    height: 86%;
    top: 12%;
    right: 2%;
    overflow: hidden;
    background-color: rgba(104, 131, 139, 0.2);
    border-radius: 10px;
}
.searchtext {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-family: "幼圆";
    font-size: 15px;
    font-weight: bold;
}
.titletext {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-family: "幼圆";
    font-size: 20px;
    font-weight: bold;
}
table{
    margin:0 auto
}



/* table */
.recom-table{width:90%;font-weight: bold;}
.recom-table tr{-webkit-transition:all .3s;transition:all .3s;}
.recom-table thead tr{background-color:#f2f2f2;}
.recom-table td,.recom-table th{padding:8px 12px;min-height:20px;border:1px solid #e0e0e0;font-size:14px;}
.recom-table tbody tr:hover{background-color:#fffeee;}
.recom-table[even] tr:nth-child(even){background-color:#f8f8f8;}
.recom-table[skin=botline],.recom-table[skin=leftline]{border:1px solid #e0e0e0;}
.recom-table[skin=botline] td,.recom-table[skin=botline] th{border:none;border-bottom:1px solid #e0e0e0;}
.recom-table[skin=leftline] th{border-bottom:1px solid #e0e0e0;}
.recom-table[skin=leftline] td{border:none;border-left:1px solid #e0e0e0;}
.recom-table[skin=noline] td,.recom-table[skin=noline] th{border:none;}